<div>
  Desperate {{people}} in high offices all over the world have been known to
  enact the most disgusting pieces of {{output}} in order to win {{goal}}
  (or, in places where they don't get to vote, to control unwanted forms of
  {{uncontrollable}}).
</div>